@font-face {
  font-family: 'Lato', sans-serif;
  src: url(./Fonts/Righteous/Righteous-Regular.ttf);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #d3d3d3;
}

.form {
  position: absolute;
  top: 30%;
  width: 400px;
  background-color: #d3d3d3;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: space-around;
  gap: 70px;
  align-items: center;
  width: 400px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

h1 {
  position: relative;
  top: -30px;
  margin: 0;
  padding: 0;
}

.refresh {
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  top: -30px;
  background-color: transparent;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: none;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.input::placeholder {
  color: lightgray;
}

.list {
  padding: 0;
  margin: 0;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 20px 40px;
  font-family: 'Lato', sans-serif;
  border-top: dotted;
  border-color: darkgray;
  position: relative;
}

.list li.hidden {
  background-color: yellow;
}

.list li .fa-trash {
  color: red;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.list li.hidden .fa-trash {
  visibility: visible;
}

.list li .fa-check-square {
  color: darkblue;
  position: absolute;
  right: 370px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li.checked {
  color: darkgray;
  text-decoration: line-through;
}

.list li.checked .fa-check-square {
  color: green;
}

.list li .fa-ellipsis-vertical {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  visibility: visible;
}

.list li.hidden .fa-ellipsis-vertical {
  visibility: hidden;
}

.list li .text {
  background-color: transparent;
  width: 400px;
  outline: none;
  border: none;
  cursor: text;
}

.list li.hidden .text {
  background-color: transparent;
  width: 400px;
  outline: none;
  cursor: text;
}

.clear {
  text-align: center;
  height: 50px;
  width: 400px;
  border: none;
  border-radius: 0 0 10px 10px;
  background-color: rgb(240, 240, 240);
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.clear:hover {
  background-color: rgb(225, 225, 225);
}

div {
  width: 20px;
  height: 20px;
}
